1 VERSIONINFO
FILEVERSION 2,0,1,0
PRODUCTVERSION 2,0,1,0
FILEOS 0x4
FILETYPE 1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Bill Stewart (bstewart at iname.com)"
      VALUE "FileDescription", "EditEnv.exe"
      VALUE "FileVersion", "2.0.1.0"
      VALUE "InternalName", "EditEnv.exe"
      VALUE "LegalCopyright", "(C) 2020-2026 by Bill Stewart (bstewart at iname.com)"
      VALUE "OriginalFilename", "EditEnv.exe"
      VALUE "ProductName", "EditEnv.exe"
      VALUE "ProductVersion", "2.0.1.0"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04E4
  }
}

APPICON ICON "EditEnv.ico"
MAINICON ICON "EditEnv.ico"

1 24 "EditEnv.manifest"
